body {
    background: #ede7f6;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
}
.header {
    background-color: #7e57c2;
    font-family: 'Montserrat', sans-serif;
}
.header h1 {
    font-size: 3rem;
    margin: 0;
    display: flex;
}
.calcPanel {
    background-color: blueviolet;
    justify-content: center;
    display: flex;
    border-radius: 20px;
    width: 90%;
    height: 200px;
    margin: 20px auto;
}
footer{
    background-color: #7e57c2;
}

